.skills {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 465px;
    height: 100%;
    background-color: black;
    z-index: 100;
    transition: 2s;

    &__logo {
        opacity: 0;
        position: absolute;
        will-change: filter;
        transition: filter 300ms;

        &__img3 {
            width: 150px;
            height: 100px;
        }

        &__img2 {
            width: 100px;
            height: 100px;
        }

        &__img1 {
            width: 150px;
            height: 150px;
        }

        &0 {
            top: 40%;
            left: 45%;
            animation: logo-opaciti 3s 0.4s ease forwards;

        }

        &1 {
            top: 15%;
            left: 35%;
            animation: logo-opaciti 3s 0.9s ease forwards;
        }

        &2 {
            top: 51%;
            left: 60%;
            animation: logo-opaciti 3s 0.9s ease forwards;
        }

        &3 {
            top: 7%;
            left: 58%;
            animation: logo-opaciti 3s 1.3s ease forwards;
        }

        &4 {
            top: 66%;
            left: 38%;
            animation: logo-opaciti 3s 1.3s ease forwards;
        }

        &5 {
            top: 76%;
            right: 39%;
            animation: logo-opaciti 3s 1.5s ease forwards;
        }

        &6 {
            top: 41%;
            left: 31%;
            animation: logo-opaciti 3s 1.5s ease forwards;
        }

        &7 {
            top: 24%;
            right: 43%;
            animation: logo-opaciti 3s 2s ease forwards;
        }

        &8 {
            top: 33%;
            right: 24%;
            animation: logo-opaciti 3s 2s ease forwards;
        }

        &9 {
            bottom: 31%;
            left: 20%;
            animation: logo-opaciti 3s 2s ease forwards;
        }

        &10 {
            bottom: 20%;
            right: 20%;
            animation: logo-opaciti 3s 2s ease forwards;
        }
    }
}

@keyframes logo-opaciti {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}