.works {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;

    &__block {
        display: flex;
        flex-direction: column;
        padding: 20px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        border: #000000;
        border-radius: 3%;

        &__subtitle {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 24px;
            font-weight: bold;
        }

        &__desc {
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 1.5;
        }

        &__bottom {
            display: flex;
            height: 61%;
            flex-direction: column;
            justify-content: space-between;
        }

        &__image {
            border-radius: 3%;
            overflow: hidden;
            transition: transform 0.4s ease;
            cursor: pointer;

            &:hover {
                transform: scale(1.03);
            }
        }
    }

    &__link {
        display: flex;
        justify-content: space-between;
    }
}

.btn__link {
    padding: 10px 20px;
    border-radius: 10px;
    align-self: center;
    color: #fff;
    background-color: #2196f3;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: rgb(27, 104, 247);
    }

    &:focus {
        background-color: blue;
    }

    &:active {
        background-color: darkblue;
    }
}